<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <gradio-app src="https://apakmi-pakm.hf.space"></gradio-app>

    <script
    type="module"
    src="https://gradio.s3-us-west-2.amazonaws.com/5.38.0/gradio.js"
    ></script>
</body>
</html>
            <input type="submit" value="Predict DBS price">
        </form>
        <form action="/start_telegram" method="post">
            <input type="submit" value="START TELEGRAM">
        </form>
        <form action="/stop_telegram" method="post">
            <input type="submit" value="STOP TELEGRAM">
        </form>
           <form action="/sepia" method="post">
            <input type="submit" value="Sepia">
        </form>
    </div>
</body>

